
.title_footer .section-title {
	border: none;
	line-height: 1.3;
	left: 10px;
	margin: 0;
}
.title_footer .section-title .section-title-main {
	border: none;
}
.title_footer::before {
	content: '';
	width: 5px;
	height: 20px;
	background-color: var(--primary-color);
	position: absolute;
	left: 0;
	top: 38%;
	transform: translateY(-50%);
	border-radius: 5px;
}
.title_footer {
	position: relative;
	margin-bottom: 0px !important;
}
.social-icons.folow_footer > a {
	margin-right: 10px;
}

@media screen and (max-width: 549px) {

}